body 
{
	background: url(img/background.jpg);
}

#header
{
	position: absolute;
	width: 100%;
	height: 65px;
	background-color: #000;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: 50px 20px;
	border-bottom: 3px solid #677d11;
}

#action_area
{
	position: absolute;
	width: 100%;
	height: 50px;
	top: 72px;
	padding-top: 10px;
	padding-left: 10px;
	display: none;
}

#action_area label
{
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

#action_area label:first-child
{
	margin-left: 90px;
}

#action_area input[type="calendar"]
{
	width: 150px;
	float: left;
}

#btn_get_result
{
	width: 100px;
	height: 25px;
	background: #1377e7;
	color : white;
	margin-left: 20px;
	border: 1px solid white;
	cursor: pointer;
	float: left;
}

#btn_view_analyse
{
	width: 100px;
	height: 25px;
	background: #1a6309;
	color : white;
	margin-right: 102px;
	border: 1px solid white;
	cursor: pointer;
	float: right;
}

#btn_back_trans
{
	width: 100px;
	height: 25px;
	background: #1a6309;
	color : white;
	margin-right: 102px;
	border: 1px solid white;
	cursor: pointer;
	float: right;
	display: none;
}

table
{
	top: 135px;
	background: #2b2b2b;
	width: calc(100% - 200px);
	height: calc(100% - 200px);
	position: absolute;
	color: white;
	display: inline-grid;
}

table thead
{
	height: 42px;
	font-size: 13px;
	border-bottom: 2px solid white;
	font-family: arial !important;
	font-weight: normal !important;
	display: table;
}

table thead th
{
	text-align: center;
	cursor: pointer;
}

table thead th.asc
{
	color: #b96012;
}

table thead th.desc
{
	color: green;
}

table tbody 
{
	text-align: center;
	font-size: 12px;
	overflow-y: auto;
}

table tbody tr td
{
	padding : 10px 0px;
}

table tbody tr td.sell
{
	color: red;
}

table tbody tr td.buy
{
	color: #0dcd0d;
}

table tbody tr:nth-child(2n)
{
	background-color: #484545;
}

table dl 
{
	float: right;
}

table dl dd
{
	width: 30px;
	height: 30px;
	border: 1px solid white;
	float: left;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	font-family: monospace;
	font-size: 15px;
}

table tbody h1
{
	position: absolute;
	top: 300px;
	left: calc(50% - 30px);
}

#tbl_analyse
{
	display: none;
}

tr.navigation
{
	position: absolute;
    width: 100%;
    height: 50px;
    bottom: -55px;
    left: 0px;
}

tr.navigation td 
{
	cursor: pointer;
}

tr.navigation label
{
	float: left;
	margin-right: 10px;
}

tr.navigation select
{
	float: left;
	color: black;
	background: white;
}

.navigation
{
	background-color: transparent !important;
}

.nav_selected
{
	background-color: #677d11;
}

#search_area
{
	left: 100px;
	position: absolute;
	margin-top: -15px;
}

#search_area label
{
	float: left;
	color: white;
	margin-right: 10px;
}

#btn_search_wallet
{
	float: left;
	background: #105310;
	border: 1px solid white;
	margin-left: 10px;
	width: 90px;
	color: white;
	cursor: pointer;
}

#txt_wallet
{
	float: left;
	width: 420px;
	font-size: 15px;
	line-height: 20px;
	padding: 3px 6px;
}

#div_transaction
{
    position: absolute;
    width: calc(100% - 100px);
    height: 250px;
    background: #313030;
    top: 250px;
    border: 3px solid #5b5757;
    text-align: center;
    color: white;
}

#div_transaction h1
{
	margin-top: 100px;
}

#detail_info
{
	margin-top: 25px;
}

#detail_info span 
{
	margin-right: 10px;
}

#label_remain_time
{
	right: 50px;
	position: absolute;
	color: #46d546;
}

#progress_fetching
{
	width: calc(100% - 120px);
	height: 43px;
	border: 1px solid #9b9696;
	margin-top: 50px;
	margin-left: 60px;
	padding: 10px;
}

#progress_fill
{
	background: green;
	width: 30%;
	height: 20px;
}

#display_count_section
{
	position: absolute;
	right: 0px;
}

#num_count
{
	color: black;
	width: 50px;
}